.header {
    text-align: center;
    background-color: var(--primary);
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 2rem;
    color: var(--secondary-light);
    margin-bottom: 10px;
}